input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.complete-profile-container {
  font-family: "Aspekta";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.complete-profile-box {
  border-radius: 50;
  height: fit-content;
  width: 70%;
  max-width: 700px;
  background-color: white;
  -webkit-box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.41); 
  box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.21);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .complete-profile-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .complete-profile-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.complete-profile-header {

}

@media (min-width: 640px) {
  .complete-profile-header {
    width: 100%;
    max-width: 28rem;
  }
}

.complete-profile-title {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1.475rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: black;
  font-family: "Aspekta";
}

.complete-profile-subtitle {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: rgb(75, 85, 99);
}

.complete-profile-form-container {

  width: 100%;
  max-width: 28rem;
}

@media (min-width: 640px) {
  .complete-profile-form-container {
    width: 100%;
    max-width: 28rem;
  }
}

.complete-profile-form-box {
  background-color: white;
}



.complete-profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.complete-profile-label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 0.975rem;
  font-weight: 400;
  color: rgb(55, 65, 81);
}

.complete-profile-input-wrapper {
  margin-top: 0.25rem;
}

.complete-profile-select {
  font-family: 'Aspekta', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  transition: border 0.2s ease-in-out;
  font-weight: 400;
}

.complete-profile-select:focus {
  border-color: #888;
  outline: none;
}




.complete-profile-input {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
}

.complete-profile-input::placeholder {
  color: rgb(156, 163, 175);
}

.complete-profile-input:focus {
  outline: none;
}

.complete-profile-select {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  background-color: white;
}

.complete-profile-select:focus {
  outline: none;
  ring: 2px;
  ring-offset: 2px;
  ring-color: rgb(79, 70, 229);
  border-color: rgb(79, 70, 229);
}

.complete-profile-error {
  color: rgb(220, 38, 38);
  font-size: 0.875rem;
}

.complete-profile-submit {
  /* typical button  */
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: white;
  background-color: black;
  transition: all ease 200ms;
  font-family: "Aspekta";
}

.complete-profile-submit:hover {
  -webkit-box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.41); 
  box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.51);}



.complete-profile-submit:focus {
  outline: none;
  ring: 2px;
  ring-offset: 2px;
  ring-color: rgb(79, 70, 229);
}

.complete-profile-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}