.slider-transition-overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(to top, #829CD7, #ffffff); /* gradient here */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  
  .slider-transition-logo {
    width: 120px;
    height: auto;
  }