.footer {
  background-color: white;
  padding: 3.5rem 0;
  font-family: "Aspekta";
}
li {
  list-style: none;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;

  color: black;
}

.footer-section {
  width: 20%;
  margin-bottom: 1rem;
}

.footer-section-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer-link {
  color: #9ca3af;
  transition: color 0.2s;
}

.footer-link:hover {
  color: #1f2937;
}

@media (max-width: 640px) {
  .footer-section {
    width: 100%;
  }
}

.footer-dark {
  background-color: #0F192F;
}

.footer-dark .footer-content {
  color: white;
}

.footer-dark .footer-link {
  color: #d1d5db; /* lighter gray for visibility */
}

.footer-dark .footer-link:hover {
  color: #ffffff;
}