input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.verify-email-container {
  font-family: "Aspekta";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-email-box {
  border-radius: 50;
  height: fit-content;
  width: 70%;
  max-width: 700px;
  background-color: white;
  -webkit-box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.41); 
  box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.21);
  padding-top: 40px;
  padding-bottom: 40px;

}


@media (min-width: 640px) {
  .verify-email-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .verify-email-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.verify-email-header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

@media (min-width: 640px) {
  .verify-email-header {
    width: 100%;
    max-width: 28rem;
  }
}

.verify-email-title {
  text-align: left;
  font-size: 1.475rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: rgb(17, 24, 39);
}

.verify-email-subtitle {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(75, 85, 99);
}

.verify-email-timer {
  margin-top: 0.25rem;
  text-align: left;
  font-size: 0.75rem;
  color: rgb(107, 114, 128);
}

.verify-email-form-container {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

@media (min-width: 640px) {
  .verify-email-form-container {
    width: 100%;
    max-width: 28rem;
  }
}

.verify-email-form-box {
}

@media (min-width: 640px) {
  .verify-email-form-box {
    border-radius: 0.5rem;
  }
}

.verify-email-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.verify-email-label {
  font-size: 0.75rem;
  color: rgb(107, 114, 128);
  font-weight: 500;
}

.verify-email-input-wrapper {
  margin-top: 0.25rem;
}

.verify-email-input {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgb(238, 239, 241);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
}

.verify-email-input::placeholder {
  color: rgb(156, 163, 175);
}

.verify-email-input:focus {
  outline: none;
  background-color: transparent;
}

.verify-email-error {
  color: rgb(220, 38, 38);
  font-size: 0.875rem;
}

.verify-email-submit {
  /* typical button  */
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  color: white;
  background-color: black;
  transition: all ease 200ms;
  font-family: "Aspekta";
}

.verify-email-submit:hover {
  -webkit-box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.41); 
  box-shadow: 5px 11px 43px -8px rgba(0,0,0,0.51);
}

.verify-email-submit:focus {
  outline: none;
}

.verify-email-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.verify-email-resend-wrapper {
  text-align: left;
}

.verify-email-resend {
  cursor: pointer;
  background-color: transparent;
  font-size: 0.875rem;
  color: #818181;
  border: none;
  transition: all ease 200ms;
  font-family: "Aspekta";

}

.verify-email-resend:hover {
  border: none;
  color: #5f5f5f;

}

.verify-email-resend:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}